<html>
<head>
  <!-- Add support for mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Album example</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <!-- Main Body Section -->
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Photo Album</h1>
        <p class="lead text-muted">Choose JPEG(jpeg or jpg) file  then "Upload"</p>
        <p>
        <form method="post" action="/upload" enctype="multipart/form-data">
          <div class="form-group">
            <input type="title" class="form-control" placeholder="Title" name="title">
          </div>
          <textarea class="form-control" name="comments" rows="3" placeholder="Comments"></textarea><br>
          <div class="form-group">
            <input type="file" name="photo">
            <input class="btn btn-primary my-2" type="submit" value="Upload">
          </div>
        </form>
        </p>
      </div>
    </section>
  <!-- Draw photos -->
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
        {% for photo in album_photos %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a href="{{ url_for('photo',photo=photo['photo']) }}" class="thumbnail"><img src="{{ photo['thumb'] }}" alt="{{ photo['title'] }}" title="{{ photo['title'] }}" width="100%" class="img-responsive"></a>
              <div class="card-body">
                <p class="card-text"><b>{{ photo['title'] }}</b><br>{{ photo['comments'] }}</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </main>

  <!-- Footer Section -->
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>
 </body>
</html>
