<html>
<head>
  <!-- Add support for mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Album example</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <!-- Main Body Section -->
  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
        	<a href="javascript:history.go(-1)">Back</a>
			<img src="{{ photo }}" class="img-responsive">
        </div>
      </div>
    </div>
  </main>
  <!-- Footer Section -->
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>
 </body>
</html>