<html>
<head>
  <!-- Add support for mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Album example</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <!-- Main Body Section -->
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <p>
          <h4>New photo added...</h4><br>
          <a href="/" class="btn btn-secondary my-2">Back to home page</a>
        </p>
      </div>
    </section>
  </main>
  <!-- Footer Section -->
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>
 </body>
</html>